<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.watchnext.watchnext">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_watchnextlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".AcceptingTaskActivity" />-->
        <activity android:name=".AceptarTareaActivity" />
        <activity android:name=".TareaEnEjecucionActivity" />
        <activity android:name=".FeedbackAportadoActivity" />
        <activity android:name=".VerDetallesActivity" />
        <activity android:name=".ReportarIncidenciaActivity"></activity>
    </application>

</manifest>